<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= form_for @product do |f| %>
      <%= f.label :Description %>
		<%= f.bootsy_area :description,rows: 8, class: 'form-control', placeholder: "Enter Product Description", editor_options: {alert_unsaved: false}%>
    <% end %>
  </div>
</div>